# App: 19081
# Runner: 19082
# AccessManager: 19083
# Asset-Service: 19084
# UI: 19085
# Redis: 6379

# App
services:
  snippetsearcher-app:
    container_name: "snippetsearcher-app"
    image: ghcr.io/grupo-14-ingsis/snippetsearcher-app:develop
    ports:
      - "19081:8080"
    environment:
      JAVA_TOOL_OPTIONS: "-Djava.net.preferIPv4Stack=true"
      DB_USER: app
      DB_PASSWORD: app
      DB_NAME: appdb
      DB_HOST: appdb
      DB_PORT: 5432
      ACCESS_MANAGER_HOST: snippetsearcher-accessmanager
      ACCESS_MANAGER_PORT: 8080
      REDIS_HOST: redis
      REDIS_PORT: 6379
      RUNNER_HOST: snippetsearcher-runner
      RUNNER_PORT: 8080
    depends_on:
      appdb:
        condition: service_healthy
      redis:
        condition: service_healthy
      snippetsearcher-accessmanager:
        condition: service_started
    networks:
      - reverse-proxy-network

  appdb:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: appdb
    volumes:
      - app-pgdata:/var/lib/postgresql/data
      - ./db/app-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U app -d appdb" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - reverse-proxy-network

  redis:
    container_name: "redis"
    image: redis:7
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 1s
      timeout: 3s
      retries: 30
    volumes:
      - redis-data:/data
    networks:
      - reverse-proxy-network

# Runner
  snippetsearcher-runner:
    container_name: "snippetsearcher-runner"
    image: ghcr.io/grupo-14-ingsis/snippetsearcher-runner:develop
    ports:
      - "19082:8080"
    environment:
      DB_USER: app
      DB_PASSWORD: app
      DB_NAME: snippet-db
      DB_HOST: runner-db
      DB_PORT: 5432
      BUCKET_SERVICE: asset-service
      BUCKET_PORT: 8080
      REDIS_HOST: redis
      REDIS_PORT: 6379
      APP_HOST: snippetsearcher-app
      APP_PORT: 8080
    depends_on:
      - runner-db
      - asset-service
    networks:
      - reverse-proxy-network

  runner-db:
    container_name: "runner-db"
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: snippet-db
    volumes:
      - runner-pgdata:/var/lib/postgresql/data
      - ./db/runner-init:/docker-entrypoint-initdb.d
    networks:
      - reverse-proxy-network

  asset-service:
    container_name: "asset-service"
    image: ghcr.io/austral-ingsis/snippet-asset-service:main.14
    ports:
      - "19084:8080"
    environment:
      AZURE_HOST: http://azurite
    depends_on:
      - azurite
    networks:
      - reverse-proxy-network

  azurite:
    container_name: "azurite"
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    networks:
      - reverse-proxy-network

  # AccessManager
  snippetsearcher-accessmanager:
    container_name: "snippetsearcher-accessmanager"
    image: ghcr.io/grupo-14-ingsis/snippetsearcher-accessmanager:latest
    ports:
      - "19083:8080"
    environment:
      DB_USER: access_manager
      DB_PASSWORD: access_manager
      DB_NAME: compose-db
      DB_HOST: accessmanager-db
      DB_PORT: 5432
    depends_on:
      - accessmanager-db
    networks:
      - reverse-proxy-network

  accessmanager-db:
    container_name: "accessmanager-db"
    image: postgres:16
    environment:
      POSTGRES_USER: access_manager
      POSTGRES_PASSWORD: access_manager
      POSTGRES_DB: compose-db
    volumes:
      - accessmanager-pgdata:/var/lib/postgresql/data
      - ./db/accessmanager-init:/docker-entrypoint-initdb.d
    networks:
      - reverse-proxy-network

# UI
  snippetsearcher-ui:
    container_name: "snippetsearcher-ui"
    image: ghcr.io/grupo-14-ingsis/printscript-ui:develop
    environment:
      - APP_HOST=snippetsearcher-app
      - APP_PORT=8080
      - RUNNER_SERVICE=snippetsearcher-runner
      - RUNNER_PORT=8080

      - VITE_AUTH0_DOMAIN=dev-65tlgyzfpbzeka8a.us.auth0.com
      - VITE_AUTH0_CLIENT_ID=pDaLfxwVAerUnhjKfJNfxLfduUPJQi3x
      - VITE_AUTH0_AUDIENCE=api.snippets.com
      - VITE_AUTH0_REALM=Username-Password-Authentication

    depends_on:
      - snippetsearcher-runner
    networks:
      - reverse-proxy-network


  reverse-proxy:
    image: nginx:alpine
    container_name: reverse-proxy
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    volumes:
      - ./reverse-proxy/nginx/conf.d/app.conf:/etc/nginx/templates/app.conf.template:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - reverse-proxy-network
    command: /bin/sh -c "envsubst '$$DOMAIN_NAME' < /etc/nginx/templates/app.conf.template > /etc/nginx/conf.d/app.conf && nginx -g 'daemon off;'"
    depends_on:
      snippetsearcher-ui:
        condition: service_started
      snippetsearcher-app:
        condition: service_started
      snippetsearcher-runner:
        condition: service_started
      snippetsearcher-accessmanager:
        condition: service_started
      asset-service:
        condition: service_started


volumes:
  app-pgdata:
  redis-data:
  accessmanager-pgdata:
  runner-pgdata:

networks:
  reverse-proxy-network:
    name: reverse-proxy-network