services:
  reverse-proxy:
    image: nginx:alpine
    container_name: reverse-proxy
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    volumes:
      - ./nginx/conf.d/app.conf:/etc/nginx/templates/app.conf.template:ro  # <-- CAMBIO AQUÃ
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - reverse-proxy-network
    command: /bin/sh -c "envsubst '$$DOMAIN_NAME' < /etc/nginx/templates/app.conf.template > /etc/nginx/conf.d/app.conf && nginx -g 'daemon off;'"

networks:
  reverse-proxy-network:
    external: true